body {
    margin: 0;
    padding: 0%;
}

html {
    height: 100%;
    width: 100%;
}

.main {
    display: flexbox;
    background: #7115fb;
    height: 768px;
    width: 100%;
}
.home-container {
    display: flex;
    background-color: #7115fb;
    height: 100px;
    width: 100%;
}
.home {
    display: flex;
    background-color: #7115fb;
    height: 60px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 50;
    width: 100%;
}
.title {
    /* margin-left: 200px; */
    margin-top: 10px;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.container-center {
    margin-top: 17px;
    display: flex;
}
.content {
    margin-inline: 15px;
    background-color: #7115fb;
    color: white;    
    font-family: 'Segoe UI';
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}
.button {
    margin-top: 17px;
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    background-color: yellow;
}
.zakaz {
    color:#7115fb;
    margin: 0 auto;
    margin-top: 10px;
}
.text {
    width: 100%;
    margin: 0 auto; 
    margin-top: 100px;
    color: white;
    font-family: "Segoe UI";
    text-indent: 100px;   
    font-size: 60px;
    font-weight: 500;
    text-align:center;
}
.text-2 {
    margin-left: 50px;
}
.emoji {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.contacts {
    display: flex;
    justify-content: center;
}
.contacts img {
    margin-top: 100px;
    width: 20%;
    height: 20%;
}
.page-2 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.personalization {
    background-color: rgb(255, 179, 0);
    height: 60%;
    width: 530px;
    border-radius: 20px;
    margin-inline: 30px;
    overflow: hidden;
}
.text-p {
    width: 400px;
    height: 340px;
    font-family: 'Stratos',Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 20px;
}
.sub-text-p {
    font-weight: 100;
    font-size: 25px;
    margin-top: 20px;
}
.sub-items-p {
    margin-top: 120px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 520px;
}
.more-p {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: 100;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    color: black;
}
.sub-items-p img {
    position: absolute;
    right: -20px;
    bottom: -10px;    
}
.video-prod {
    color: white;
    background-color: #7115fb;
    height: 60%;
    width: 530px;
    border-radius: 20px;
    margin-inline: 30px;
    overflow: hidden; 
}
.text-v {
    font-family: 'Stratos',Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 20px;   
}
.sub-text-v {
    font-weight: 100;
    font-size: 25px;
    margin-top: 20px;
}
.sub-items-v {
    margin-top: 150px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 520px;
}
.more-v {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: 100;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    color: black;
}
.sub-items-p img {
    position: absolute;     
    right: -20px;
    bottom: -60px;    
}
.cases {
    width: 100%;
    height: 1400px;
    background-color: #f5f4f5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.cases h1 {
    font: 50px "Segoe UI";
    font-weight: 500;
    position: absolute;
    left: 295px;
    top: 70px;
}
.yota-dodo {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-cases {
    margin-bottom: 200px;   
}
.button-case {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7115fb;
}
.cases-t {
    color: white;
    margin-left: 20px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
}
.cases-num {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-size: 20px;
    border:white;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    width: 60px;
    height: 40px;
    margin-right:15px;
}
.page-3 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.plain-link {
    text-decoration: none;
    color: black
}
.l1, .l2 {
    height: 100px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:30px;
}
.about {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p {
    font-family: 'Stratos',Arial,sans-serif;
    color: white;
}
.plain-link-a {
    text-decoration: none;
    color: white;
}
.about-t h1 {
    color: white;
    font-family: monospace;
}
.about-n h2, .about-c h2 {
    color: grey;
    font-family: Calibri;
}
.about-t {
    width: 500px;
    height: 150px;

}
.about-n {
    width: 300px;
    height: 150px;

}
.about-c {
    width: 300px;
    height: 150px;
}
.about-c img {
    border-radius: 10px;
    
}

@media only screen and (max-width: 768px) {
    .home-container {
        width: 100%;
        height: 50px;
    }
    .home {
        height: 40px;
        width: 55%;
    }
    .title {
        font-size: 15px;
        margin-left: 10px;
    }
    .content {
        margin-inline: 15px;
        font-size: 11px;
    }
    .container-center {
        margin-top: 12px;
        
    }
    .button {
        margin-top: 15px;
        height: 25px;
        width: 80%;
        margin-right: 10px;
    }
    .zakaz {
        font-size: 9px;
        font-weight: 900;
        font-family: 'Segoe UI';
        margin: 0 auto;
    }
    .text {
        font-size: 35px;
        width: 80%;
    }
    .main {
        height: 844px;
    }
    .contacts img {
        margin-top: 175px;
        width: 80%;
        height: 80%;
    }
    .page-2 {
        width:auto;
    }
    .personalization {
        margin-inline: 7px;
    }
    .text-p {
        width: 100%;
        font-size: 20px;
        margin-inline: 5px;
    }
    .sub-text-p {
        font-size: 18px;
        
    }
    .sub-items-p {
        width: 200px;
    }
    .more-p {
        margin-left: 10px;
        font-size: 22px;
    }
    .sub-items-p img {
        position: absolute;
        top: -130px;
        right: 60px;
        width: 120px;
        height: 120px;
    }
    .video-prod {
        margin-inline: 7px;
    }
    .text-v {
        width: 100%;
        font-size: 20px;
        margin-inline: 5px;
    }
    .sub-text-v {
        font-size: 18px;
    }
    .sub-items-v {
        width: 200px;
    }
    .more-v {
        margin-left: 10px;
        margin-bottom: 15px;
        font-size: 22px;
        width: 150px;
    }
    .sub-items-v img {
            position: absolute;
        top: -130px;
        right: 55px;
        width: 110px;
        height: 110px;
    }
    .cases h1 {
        left: 10%;
    }
    .yota {
        position: absolute;
        width: 80%;
        height: 268px;
    }
    .page-3 {
        height: 150px;
        margin-inline: 10px;
    }
    .page-3 p {
        margin-inline: 10px;
    }
    .about p {
        margin-inline: 5px;
    }
    .about-n h2 {
        margin-inline: 5px;
    }
    .about-t {
        margin-left: 40px;
    }
    .plain-link-a {
        font-size: 14px;
    }
    .about-c {
        margin-right: 30px;
    }
} 